.container-large {
  padding-inline: 20rem;
}
.container-med {
  padding-inline: 24rem;
}
.container-sm {
  padding-inline: 28rem;
}

.section-padding-large {
  padding-block: 4rem;
}

.section-padding-med {
  padding-block: 2rem;
}

.section-padding-sm {
  padding-block: 1rem;
}

.text-with-image {
  display: flex;
}
